:markdown
  ## 第一条

  用户以各种方式使用豆瓣网服务和数据（包括但不限于发表、宣传介绍、转载、浏览及利用豆瓣网或豆瓣网用户发布内容）的过程中，不得以任何方式利用豆瓣网直接或间接从事违反中国法律、以及社会公德的行为，且用户应当恪守下述承诺：

  * 发布、转载或提供的内容符合中国法律、社会公德；
  * 不得干扰、损害和侵犯豆瓣网的各种合法权利与利益；
  * 遵守豆瓣网以及与之相关的网络服务的协议、指导原则、管理细则等；

  ## 第二条

  豆瓣网有权对违反上述承诺的内容予以删除。

  * [Rails Store](http://railsstore.com)  
  * [Github](http://github.com/kelby)  

  对免责声明的解释、修改及更新权均属于豆瓣网所有。
